:root {
  --bg-clr: linear-gradient(90deg, #8b62ff 0, #3b1bff);
  /* --pr-clr: #1454b6; */
  --pr-clr: #8b62ff;
}
/* ----------------------------------------------------------------------------- */
/* components  */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.display-none {
  display: none;
}

.section-padding {
  padding-top: 3rem;
}

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.center {
  justify-content: center;
  align-items: center;
}
.space-between {
  justify-content: space-between;
  align-items: center;
}

form .input-container {
  position: relative;
  border-bottom: 2px solid #eee;
  margin-bottom: 3.75rem;
  transition: all 0.5s;
}
form .input-container:empty {
  display: none;
}

form .input-container input,
form .input-container select {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background-color: white;
  outline: none;
  position: relative;
}
form .input-container label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}

form .input-container span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--pr-clr);
  transition: 0.5s;
}
form .input-error span::before {
  background-color: #c33;
}

form .input-container input:focus ~ label,
form .input-container input:valid ~ label,
form .input-container select:focus ~ label,
form .input-container select:valid ~ label {
  top: -6px;
  color: var(--pr-clr);
}

form .input-container input:focus ~ span::before,
form .input-container input:valid ~ span::before,
form .input-container select:valid ~ span::before,
form .input-container select:valid ~ span::before {
  width: 100%;
}

@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

form input[type="submit"],
button {
  padding: 10px 30px;
  background-color: var(--pr-clr);
  background-image: var(--bg-clr);
  border: none;
  border-radius: 2px;
  color: white;
}

/* animate new item*/
.input-container {
  animation: append-animate 0.3s linear;
}

/* To Automatic color fill from browser  */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[type="submit"],
button:hover {
  cursor: pointer;
}

.sub {
  position: relative;
  top: 1ex;
  font-size: 80%;
}

/* ---------------------------------------------------------------------- */

body {
  font-family: Fira Sans, Helvetica, Arial, sans-serif;
  line-height: 1.81;
  color: #000;
  background-color: #fff;
  position: relative;
}

.cover {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

/* header  */
header {
  padding: 0.4rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
header h1 {
  font-size: 1.2rem;
  font-weight: 500;
}
header h1 span {
  color: var(--pr-clr);
  font-weight: bold;
}
header button {
  padding: 5px 30px;
  margin-right: 2rem;
}

header .profile a {
  display: block;
  padding-top: 3px;
}
header .profile a i {
  color: var(--pr-clr);
  font-size: 20px;
}

/* --------------------------------------------- */

/* login form  */
.login-container {
  width: 500px;
  min-width: 300px;
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background-color: white;
  padding: 2rem;
  padding-top: 6rem;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border-bottom: 3px solid var(--pr-clr);
  animation: left-pop-up 0.4s cubic-bezier(0, 0.02, 0.31, 1.07);
  transition: all 0.4s;
}
@keyframes left-pop-up {
  from {
    left: 0;
    opacity: 0;
  }
  to {
    left: 50%;
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .login-container {
    width: auto;
    padding-top: 4rem;
  }
}

.login-container i {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 110;
  font-size: 2rem;
  padding: 1.4rem;
  color: white;
}
@media (max-width: 768px) {
  .login-container i {
    padding: 1rem;
    font-size: 1.5rem;
  }
}
.login-container i:hover {
  cursor: pointer;
}

.login-container h1 {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 3px 3px 0 0;
  width: 100%;
  background-color: var(--pr-clr);
  background-image: var(--bg-clr);
  color: white;
  text-align: center;
  padding: 0.5rem;
  font-weight: 400;
}
@media (max-width: 768px) {
  .login-container h1 {
    font-size: 1.3rem;
  }
}
.login-container .form-msg {
  text-align: center;
  margin-bottom: 1rem;
}
.login-container .form-msg-success {
  color: var(--pr-clr);
}
.login-container .form-msg-error {
  color: #cc3333;
}

.login-container input[type="submit"] {
  width: 100%;
  font-size: 1.1em;
}

.login-container a {
  display: block;
  text-align: center;
  margin-top: 0.5rem;
  text-decoration: none;
  color: var(--pr-clr);
}
@media (max-width: 768px) {
  .login-container a {
    font-size: 0.8rem;
  }
}
.login-container a:hover {
  text-decoration: underline;
}

/* problem section */
.problem form {
  width: 70%;
  padding-bottom: 2rem;
  position: relative;
}

.problem form input[type="submit"] {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

/* solution section ie output  */
.solution {
  padding-top: 8rem;
  padding-bottom: 3rem;
}
.solution .container {
  display: flex;
  justify-content: center;
  align-content: center;
}
@media (max-width: 768px) {
  .solution .container {
    overflow: auto;
  }
}
.solution table {
  border-collapse: collapse;
  width: 70%;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
@media (max-width: 768px) {
  .solution table {
    font-size: 12px;
  }
}
.solution table thead tr {
  background-color: var(--pr-clr);
  color: white;
  text-align: left;
  font-weight: bold;
}
.solution table td {
  padding: 12px 15px;
}
@media (max-width: 768px) {
  .solution table td {
    padding: 3px 8px;
  }
}
.solution table tbody tr {
  border-bottom: 1px solid #eee;
}
.solution table tbody tr:last-of-type {
  border-bottom: 2px solid var(--pr-clr);
}

.solution h4 {
  font-size: 1.3rem;
  color: var(--pr-clr);
  margin-top: 1.5rem;
}

/* Matrix  */
/* ----------------- */
/* ----------------- */

/* problem  */

.problem .matrix-rows-cols {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}
@media (max-width: 768px) {
  .problem .matrix-rows-cols {
    flex-direction: column;
    grid-template-columns: 1fr;
  }
}

.problem .matrix-rows-cols p,
.problem .matrix-rows-cols span {
  color: var(--pr-clr);
}
@media (max-width: 768px) {
  .problem .matrix-rows-cols p,
  .problem .matrix-rows-cols span {
    margin-bottom: 1rem;
  }
}

.problem .matrix-rows-cols .input-container {
  margin: 0 3rem;
}
@media (max-width: 768px) {
  .problem .matrix-rows-cols .input-container {
    margin-bottom: 1rem;
  }
}

.problem .matrix-values,
.solution .matrix-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

/* matrix solution  */

.matrix-mode .solution {
  padding-top: 3rem;
}

.matrix-mode .solution .container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 2rem;
}

.solution .m h2 {
  font-size: 1.3rem;
  font-weight: normal;
}
@media (min-width: 768px) {
  .solution .m h2 {
    margin-right: 3rem;
  }
}
.solution h2 {
  margin-right: 2rem;
  color: var(--pr-clr);
  text-transform: uppercase;
  font-size: 1.6rem;
}
.solution h2:last-of-type {
  margin-right: 0;
}
@media (min-width: 768px) {
  .solution h2:last-of-type {
    margin-right: 2rem;
  }
}

.solution .matrix-container {
  row-gap: 0;
}
.solution .matrix-container span {
  font-size: 1.4rem;
  padding: 10px 10px;
  color: var(--pr-clr);
}
.solution .matrix-container span.last-col-item {
  border-left: 3px solid var(--pr-clr);
}

.solution .result {
  overflow: hidden;
}
@media (min-width: 768px) {
  .solution .result {
    margin: 0;
  }
  .solution .result h2 {
    margin: 0;
    margin-bottom: 1.2rem;
  }
}
